body {
    background-color: rgb(54, 7, 7);
    background-image: url(picture.jpg);
    background-repeat: no repeat;
    background-size: cover;
    text-align: center;
}

h1 {
    color: white;
    font-family: Impact;
    font-size: 500%;
    text-align: right;
    position: relative;
    right: 10px;
    top: 100px;
   
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
    text-align: center;
    font-size: 150%;
  }

  ul {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  ul {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
 

  li {
    float: left;
    
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: pink;
  }

.alert a:link, .alert a:visited{
    color: white;
    font-size: 300%;
    text-align: right;
    position: relative;
    top: 150px;
  
    

  }

.alert {

    color: white;
    text-align: right;
    position: relative;
    right: 10px;


}
  